
body {
--color1: rgb(102, 111, 52);
--color2: hsla(276, 16%, 41%, 1);
--color3: hsla(347, 35%, 55%, 1);
--color4: hsla(358, 70%, 66%, 1);
--color5: hsla(21, 69%, 73%, 1);
--color6: rgb(172, 64, 223);
--color7: rgb(224, 182, 208);
--color8: rgb(243, 241, 241);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 720px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color8);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color8);
    box-shadow: var(--shadow);
}

h1 {
    color: var(--color1);
    font-family: cursive;
    font-size: 3rem;
    margin-bottom: 0px;
    padding: 10px;
    font-weight: bolder;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}
h3 {
    text-align: center;
    max-width: 70%;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color8);
    box-shadow: var(--shadow);
}
#character-basics, #alignment-scale {
    background-color:var(--color3);
    color: black;
    font-family: cursive;
    font-size: 2rem;
    margin-bottom: 0px;
}
#nameButton, #genderButton, #raceButton, #classButton, #lawful-button, #neutral-button, #chaotic-button {
    background-color: var(--color1);
    height: 1fr;
    width: 1fr;
    margin: 5px;
    padding: 5px;
    font-size: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#name, #gender, #race, #class {
    background-color: var(--color8);
}
#alignment-buttons {
    justify-content: space-around;
    align-content: center;
    margin: 0px;
    border: inset 1px var(--color3);
    text-align: center;
}
#chaotic-image, #lawful-image, #neutral-image {
    width: 500px;
}